$fontOne: "Poppins", "Helvetica Neue", helvetica, sans-serif;

.dashboard {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(209, 209, 209);

  .dashboard-Wrap {
    width: 769px;
    height: 600px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    border: solid white 2px;
    border-radius: 17px 17px 0 0;

    .dashboard-Top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      text-align: center;
      align-items: center;
      width: 100%;
      height: 10%;
      background-color: aliceblue;
      border-radius: 15px 15px 0 0;

      .dashboard-Top-Left {
        padding: 0;
        margin: 0;

        .dashboard-Top-Left-Text-1 {
          padding: 0;
          font-family: $fontOne;
          font-size: 1.2rem;
          color: rgb(34, 34, 34);
          margin: 5px;
        }
      }

      .dashboard-Top-Mid {
        padding: 0;
        margin: 0;

        .dashboard-Top-Mid-Text-1,
        .dashboard-Top-Mid-Text-2 {
          padding: 0;
          margin: 0;
          font-size: 1.2rem;
          color: rgb(34, 34, 34);
          font-family: $fontOne;
        }

        .dashboard-Top-Mid-Text-2 {
          color: gray;
          font-size: 0.8rem;
        }
      }

      .dashboard-Top-Right {
        display: flex;
        flex-direction: column;
        height: 100%;
        text-align: start;
        align-items: start;
        justify-content: start;

        .dashboard-Top-Right-Text-1 {
          padding: 0;
          font-size: 1.2rem;
          color: rgb(34, 34, 34);
          font-family: $fontOne;
          margin: 5px;
        }
      }
    }

    .dashboard-Mid {
      height: 75%;
      width: 100%;
      display: flex;
      flex-direction: row;
      text-align: center;
      align-items: center;
      justify-content: space-between;

      .dashboard-Mid-Left {
        height: 100%;
        width: 65%;
        display: flex;
        border-radius: 0 15px 15px 0;
        overflow: hidden;

        .dashboard-Mid-Left-Wrap {
          height: 100%;
          width: 100%;
          display: flex;
          flex-direction: column;
          text-align: start;
          align-items: start;

          .dashboard-Transfer-Card {
            width: 100%;
            height: 40px;
            display: flex;
            flex-direction: row;
            text-align: center;
            align-items: center;
            justify-content: space-evenly;
            background-color: aliceblue;
          }
        }
      }

      .dashboard-Mid-Right {
        height: 100%;
        width: 30%;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: space-evenly;
        background-color: aliceblue;
        border-radius: 15px 0 0 15px;

        .dashboard-Mid-Top,
        .dashboard-Mid-Mid,
        .dashboard-Mid-Bottom {
          display: flex;
          flex-direction: column;
          text-align: center;
          align-items: center;
          justify-content: center;
          width: 90%;
          padding: 5px;
          border-radius: 15px;
          background-color: rgb(0, 196, 10);
          color: white;

          .dashboard-Card-Wrap {
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            justify-content: center;
            width: 90%;
            height: 100%;
            font-family: $fontOne;

            .dashboard-Card-Inputs-Wrap {
              .dashboard-Card-Inputs {
                outline: none;
                border-radius: 15px;
                border: none;
                padding: 1px;
                padding-left: 15px;
                font-family: $fontOne;
              }

              .dashboard-Card-Inputs-Buttons {
                width: 50px;
                background-color: transparent;
                border: solid white 2px;
                color: white;
                border-radius: 5px;
                cursor: pointer;

                &:hover {
                  background-color: aliceblue;
                  color: black;
                  border: solid black 2px;
                }

                &:active {
                  transform: scale(0.9);
                }
              }
            }
          }
        }

        .dashboard-Mid-Mid {
          background-color: rgb(196, 72, 0);
        }

        .dashboard-Mid-Bottom {
          background-color: rgb(224, 1, 1);
        }
      }
    }

    .dashboard-Bottom {
      display: flex;
      width: 100%;
      flex-direction: row;
      text-align: center;
      align-items: center;
      justify-content: center;
      height: 10%;
      padding: 0;
      margin: 0;
      border-radius: 15px 15px 0 0;
      background-color: aliceblue;

      .dashboard-Bottom-Left {
        display: flex;
        width: 55%;
        height: 100%;
        text-align: center;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;

        .dashboard-Bottom-Left-In-Wrap,
        .dashboard-Bottom-Left-Out-Wrap {
          height: 50%;
          background-color: green;
          color: white;
          border-radius: 15px;
          text-align: center;
          display: flex;
          flex-direction: row;
          text-align: center;
          align-items: center;
          justify-content: center;
          width: 150px;
        }

        .dashboard-Bottom-Left-Out-Wrap {
          background-color: red;
        }
      }

      .dashboard-Bottom-Right {
        width: 30%;
        height: 100%;
        display: flex;
        font-size: 0.8rem;
        text-align: end;
        align-items: center;
        justify-content: end;
        flex-direction: row;
      }
    }
  }
}
