.dashboard {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.dashboard .dashboard-Wrap {
  width: 769px;
  height: 600px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.dashboard .dashboard-Wrap .dashboard-Top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 10%;
}

.dashboard .dashboard-Wrap .dashboard-Top .dashboard-Top-Left {
  padding: 0;
  margin: 0;
}

.dashboard .dashboard-Wrap .dashboard-Top .dashboard-Top-Left .dashboard-Top-Left-Text-1 {
  padding: 0;
  margin: 0;
  font-family: "Poppins", "Helvetica Neue", helvetica, sans-serif;
}

.dashboard .dashboard-Wrap .dashboard-Top .dashboard-Top-Mid {
  padding: 0;
  margin: 0;
}

.dashboard .dashboard-Wrap .dashboard-Top .dashboard-Top-Mid .dashboard-Top-Mid-Text-1,
.dashboard .dashboard-Wrap .dashboard-Top .dashboard-Top-Mid .dashboard-Top-Mid-Text-2 {
  padding: 0;
  margin: 0;
  font-family: "Poppins", "Helvetica Neue", helvetica, sans-serif;
}

.dashboard .dashboard-Wrap .dashboard-Top .dashboard-Top-Mid .dashboard-Top-Mid-Text-2 {
  color: gray;
}

.dashboard .dashboard-Wrap .dashboard-Top .dashboard-Top-Right {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: start;
  align-items: start;
  justify-content: start;
}

.dashboard .dashboard-Wrap .dashboard-Top .dashboard-Top-Right .dashboard-Top-Right-Text-1 {
  padding: 0;
  margin: 0;
}
