$fontOne: "Poppins", "Helvetica Neue", helvetica, sans-serif;

body {
  font-family: $fontOne;
  padding: 0;
  background-color: #f3f3f3;
  margin: 0;
}

//  navbar
.navbar {
  display: flex;
  position: fixed;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  top: 0;
  background-color: rgba(255, 255, 255, 0.95);
  height: 12vh;

  .navbar-Wrap {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 100%;

    .nav-Left,
    .nav-Left-Wrap {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: flex-start;
      justify-content: center;
      height: 100%;
      width: 50%;

      .nav-Left-Img {
        height: 50px;
        object-fit: cover;
        text-align: center;
      }
    }

    .nav-Right,
    .nav-Right-Wrap {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: flex-end;
      justify-content: center;
      height: 100%;
      width: 50%;

      .nav-Right-Wrap {
        width: 100%;
      }

      .nav-Right-Links-Wrap {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;

        ul {
          padding: 0;
          margin: 0;
          display: flex;
          flex-direction: row;
          text-align: center;
          align-items: center;
          justify-content: center;
          list-style: none;

          li {
            padding: 1rem;

            a {
              text-decoration: none;
              font-family: $fontOne;
              font-weight: 400;
              font-size: 1.2rem;
              color: black;
              transition: all 250ms ease-in-out;

              &:hover {
                color: #60be76;
              }
            }

            .create-Account-Btn {
              width: 150px;
              height: 40px;
              border-radius: 15px;
              background-color: #63da7f;
              color: black;
              font-family: $fontOne;
              border: none;
              font-weight: 400;
              font-size: 1rem;
              transition: all 50ms ease-in-out;

              &:hover {
                cursor: pointer;
                background-color: #60be76;
                color: white;
              }

              &:active {
                color: white;
                background-color: #63da7f;
              }
            }
          }
        }
      }
    }
  }
}

//  navbar responsvness
@media screen and (max-width: 1100px) {
  .navbar {
    border: solid black 1px;
    border-left: none;
    border-right: none;
    border-top: none;
    height: 11vh;

    .navbar-Wrap {
      width: 95%;

      .nav-Left,
      .nav-Left-Wrap {
        height: 100%;
        width: 30%;

        .nav-Left-Wrap {
          width: 100%;
        }

        .nav-Left-Img {
          height: 40px;
        }
      }

      .nav-Right,
      .nav-Right-Wrap {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: flex-end;
        justify-content: center;
        height: 100%;
        width: 70%;

        .nav-Right-Wrap {
          width: 100%;
          align-items: flex-end;
          justify-content: center;
        }

        .nav-Right-Links-Wrap {
          display: none;
          flex-direction: column;
          text-align: center;
          align-items: center;
          justify-content: center;
          position: relative;
          left: 1rem;
          z-index: -1;
          transition: all 500ms ease-in-out;

          ul {
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            justify-content: space-evenly;
            list-style: none;
            background-color: white;
            border: solid black 1px;
            border-top: none;
            height: 500px;
            position: absolute;
            right: -12px;
            top: 2rem;

            li {
              padding: 1.5rem;

              a {
                font-size: 1.5rem;
                color: black;
              }

              .create-Account-Btn {
                width: 170px;
                font-size: 1rem;
              }
            }
          }
        }

        .nav-Right-Links-Wrap.active {
          display: flex;
        }
      }
    }
  }
}

// burger menu buttons and wraps
.burger-Menu {
  position: absolute;
  height: 50px;
  width: 50px;
  top: 50%;
  transform: translate(-50%, -50%);
  right: 1rem;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  z-index: 1;
  display: none;

  .burger-Menu-Wrap {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    z-index: 2;

    &:hover {
      cursor: pointer;
    }

    #b-M-Bars {
      height: 4px;
      background-color: #63da7f;
      border-radius: 15px;
      width: 100%;
    }
  }
}

@media screen and (max-width: 1100px) {
  .burger-Menu {
    display: flex;
  }
}
// header
.header {
  display: flex;
  height: 100vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .header-Wrap {
    display: flex;
    height: 80%;
    width: 80%;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;

    .header-Left {
      width: 50%;

      .header-Left-Wrap {
        text-align: start;

        .header-Left-Text-1 {
          color: rgb(22, 37, 68);
          font-family: $fontOne;
          font-size: 4rem;
          padding: 0;
          margin: 0;
        }

        .header-Left-Text-2 {
          padding: 0;
          margin: 0;
          color: rgb(22, 37, 68);
          font-family: $fontOne;
          font-size: 1.2rem;
          font-weight: 500;
        }

        .header-Left-Button {
          background-color: transparent;
          color: #63da7f;
          font-family: $fontOne;
          font-size: 1.2rem;
          font-weight: 600;
          border: none;
          margin-top: 1rem;
          letter-spacing: 5px;
          cursor: pointer;

          #header-Left-Button-Icon {
            color: #63da7f;
            font-size: 1.2rem;
            font-weight: 600;
          }

          &:hover {
            color: #60be76;
          }
        }
      }
    }

    .header-Right {
      width: 35%;

      .header-Right-Wrap {
        .header-Right-Img {
          object-fit: cover;
          height: 350px;
        }
      }
    }
  }
}
// header responsvness
@media screen and (max-width: 1200px) {
  .header {
    .header-Wrap {
      display: flex;
      height: 80%;
      width: 90%;
      flex-direction: column;

      .header-Left {
        width: 500px;

        .header-Left-Wrap {
          text-align: center;

          .header-Left-Text-1 {
            font-size: 3.2rem;
          }

          .header-Left-Text-2 {
            font-size: 1rem;
            font-weight: 500;
          }

          .header-Left-Button {
            font-size: 1rem;

            #header-Left-Button-Icon {
              font-size: 1rem;
            }
          }
        }
      }

      .header-Right {
        width: 500px;

        .header-Right-Wrap {
          .header-Right-Img {
            object-fit: cover;
            height: 350px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    .header-Wrap {
      .header-Left {
        width: 350px;

        .header-Left-Wrap {
          text-align: center;

          .header-Left-Text-1 {
            font-size: 2.2rem;
          }

          .header-Left-Text-2 {
            font-size: 0.9rem;
            font-weight: 500;
          }

          .header-Left-Button {
            font-size: 0.9rem;

            #header-Left-Button-Icon {
              font-size: 0.9rem;
            }
          }
        }
      }

      .header-Right {
        width: 350px;

        .header-Right-Wrap {
          .header-Right-Img {
            object-fit: cover;
            height: 250px;
          }
        }
      }
    }
  }
}
// about
.about {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  height: 2200px;
  width: 100vw;

  .about-Wrap {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 80%;

    .about-Top-Wrap {
      height: 20vh;
      width: 100%;
      text-align: start;

      .about-Top-Text-1 {
        font-family: $fontOne;
        color: #60be76;
      }

      .about-Top-Text-2 {
        font-family: $fontOne;
        color: rgb(22, 37, 68);
        font-size: 2.5rem;
        font-weight: 500;
      }
    }
  }
}
