body {
  font-family: "Poppins", "Helvetica Neue", helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

.navbar {
  display: flex;
  position: fixed;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  top: 0;
  height: 12vh;
}

.navbar .navbar-Wrap {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  height: 100%;
}

.navbar .navbar-Wrap .nav-Left,
.navbar .navbar-Wrap .nav-Left-Wrap {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
}

.navbar .navbar-Wrap .nav-Left .nav-Left-Img,
.navbar .navbar-Wrap .nav-Left-Wrap .nav-Left-Img {
  height: 50px;
  object-fit: cover;
  text-align: center;
}

.navbar .nav-Right,
.navbar .nav-Right-Wrap {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
}

.navbar .nav-Right .nav-Right-Wrap,
.navbar .nav-Right-Wrap .nav-Right-Wrap {
  width: 100%;
}

.navbar .nav-Right .nav-Right-Links-Wrap,
.navbar .nav-Right-Wrap .nav-Right-Links-Wrap {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.navbar .nav-Right .nav-Right-Links-Wrap ul,
.navbar .nav-Right-Wrap .nav-Right-Links-Wrap ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.navbar .nav-Right .nav-Right-Links-Wrap li,
.navbar .nav-Right-Wrap .nav-Right-Links-Wrap li {
  padding: 1rem;
}

.navbar .nav-Right .nav-Right-Links-Wrap li a,
.navbar .nav-Right-Wrap .nav-Right-Links-Wrap li a {
  text-decoration: none;
  font-family: "Poppins", "Helvetica Neue", helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: black;
}
