body {
  font-family: "Poppins", "Helvetica Neue", helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

.navbar {
  display: flex;
  position: fixed;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  top: 0;
  height: 12vh;
}

.navbar .navbar-Wrap {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  height: 100%;
}

.navbar .navbar-Wrap .nav-Left,
.navbar .navbar-Wrap .nav-Left-Wrap {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
}

.navbar .navbar-Wrap .nav-Left .nav-Left-Img,
.navbar .navbar-Wrap .nav-Left-Wrap .nav-Left-Img {
  height: 50px;
  object-fit: cover;
  text-align: center;
}

.navbar .nav-Right,
.navbar .nav-Right-Wrap {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
}
