$fontOne: "Poppins", "Helvetica Neue", helvetica, sans-serif;

body {
  font-family: $fontOne;
  padding: 0;
  margin: 0;
}

//  navbar
.navbar {
  display: flex;
  position: fixed;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  top: 0;
  background-color: rgba(255, 255, 255, 0.95);
  height: 12vh;

  .navbar-Wrap {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 100%;

    .nav-Left,
    .nav-Left-Wrap {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: flex-start;
      justify-content: center;
      height: 100%;
      width: 50%;

      .nav-Left-Img {
        height: 50px;
        object-fit: cover;
        text-align: center;
      }
    }

    .nav-Right,
    .nav-Right-Wrap {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: flex-end;
      justify-content: center;
      height: 100%;
      width: 50%;

      .nav-Right-Wrap {
        width: 100%;
      }

      .nav-Right-Links-Wrap {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;

        ul {
          padding: 0;
          margin: 0;
          display: flex;
          flex-direction: row;
          text-align: center;
          align-items: center;
          justify-content: center;
          list-style: none;

          li {
            padding: 1rem;

            a {
              text-decoration: none;
              font-family: $fontOne;
              font-weight: 400;
              font-size: 1.2rem;
              color: black;
            }

            .create-Account-Btn {
              width: 150px;
              height: 40px;
              border-radius: 15px;
              background-color: #63da7f;
              color: black;
              font-family: $fontOne;
              border: none;
              font-weight: 400;
              font-size: 1rem;
              transition: all 50ms ease-in-out;

              &:hover {
                cursor: pointer;
                background-color: #60be76;
              }

              &:active {
                color: white;
                background-color: #63da7f;
              }
            }
          }
        }
      }
    }
  }
}

//  navbar responsvness
@media screen and (max-width: 1100px) {
  .navbar {
    border: solid black 1px;
    border-left: none;
    border-right: none;
    border-top: none;
    height: 15vh;

    .navbar-Wrap {
      width: 95%;

      .nav-Left,
      .nav-Left-Wrap {
        height: 100%;
        width: 30%;

        .nav-Left-Wrap {
          width: 100%;
        }

        .nav-Left-Img {
          height: 40px;
        }
      }

      .nav-Right,
      .nav-Right-Wrap {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: flex-end;
        justify-content: center;
        height: 100%;
        width: 70%;

        .nav-Right-Wrap {
          width: 100%;
          align-items: flex-end;
          justify-content: center;
        }

        .nav-Right-Links-Wrap {
          display: none;
          flex-direction: column;
          text-align: center;
          align-items: center;
          justify-content: center;
          position: relative;
          left: 1rem;
          z-index: -1;
          transition: all 500ms ease-in-out;

          ul {
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            justify-content: space-evenly;
            list-style: none;
            background-color: white;
            border: solid black 1px;
            border-top: none;
            height: 75vh;
            position: absolute;
            right: -12px;
            top: 3rem;

            li {
              padding: 1.5rem;

              a {
                font-size: 1.5rem;
                color: black;
              }

              .create-Account-Btn {
                width: 170px;
                font-size: 1rem;
              }
            }
          }
        }

        .nav-Right-Links-Wrap.active {
          display: flex;
        }
      }
    }
  }
}

// burger menu buttons and wraps
.burger-Menu {
  position: absolute;
  height: 50px;
  width: 50px;
  top: 50%;
  transform: translate(-50%, -50%);
  right: 1rem;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  z-index: 1;
  display: none;

  .burger-Menu-Wrap {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    z-index: 2;

    &:hover {
      cursor: pointer;
    }

    #b-M-Bars {
      height: 4px;
      background-color: #63da7f;
      border-radius: 15px;
      width: 100%;
    }
  }
}

@media screen and (max-width: 1100px) {
  .burger-Menu {
    display: flex;
  }
}
// header
.header {
  display: flex;
  height: 100vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
