html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", "Helvetica Neue", helvetica, sans-serif;
  padding: 0;
  background-color: #f3f3f3;
  margin: 0;
}

.navbar {
  display: flex;
  position: fixed;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  top: 0;
  background-color: rgba(255, 255, 255, 0.95);
  height: 12vh;
}

.navbar .navbar-Wrap {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  height: 100%;
}

.navbar .navbar-Wrap .nav-Left,
.navbar .navbar-Wrap .nav-Left-Wrap {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  width: 50%;
}

.navbar .navbar-Wrap .nav-Left .nav-Left-Img,
.navbar .navbar-Wrap .nav-Left-Wrap .nav-Left-Img {
  height: 50px;
  object-fit: cover;
  text-align: center;
}

.navbar .navbar-Wrap .nav-Right,
.navbar .navbar-Wrap .nav-Right-Wrap {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
  width: 50%;
}

.navbar .navbar-Wrap .nav-Right .nav-Right-Wrap,
.navbar .navbar-Wrap .nav-Right-Wrap .nav-Right-Wrap {
  width: 100%;
}

.navbar .navbar-Wrap .nav-Right .nav-Right-Links-Wrap,
.navbar .navbar-Wrap .nav-Right-Wrap .nav-Right-Links-Wrap {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.navbar .navbar-Wrap .nav-Right .nav-Right-Links-Wrap ul,
.navbar .navbar-Wrap .nav-Right-Wrap .nav-Right-Links-Wrap ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.navbar .navbar-Wrap .nav-Right .nav-Right-Links-Wrap ul li,
.navbar .navbar-Wrap .nav-Right-Wrap .nav-Right-Links-Wrap ul li {
  padding: 1rem;
}

.navbar .navbar-Wrap .nav-Right .nav-Right-Links-Wrap ul li a,
.navbar .navbar-Wrap .nav-Right-Wrap .nav-Right-Links-Wrap ul li a {
  text-decoration: none;
  font-family: "Poppins", "Helvetica Neue", helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: black;
  transition: all 250ms ease-in-out;
}

.navbar .navbar-Wrap .nav-Right .nav-Right-Links-Wrap ul li a:hover,
.navbar .navbar-Wrap .nav-Right-Wrap .nav-Right-Links-Wrap ul li a:hover {
  color: #60be76;
}

.navbar .navbar-Wrap .nav-Right .nav-Right-Links-Wrap ul li .create-Account-Btn,
.navbar .navbar-Wrap .nav-Right-Wrap .nav-Right-Links-Wrap ul li .create-Account-Btn {
  margin: 5px;
  width: 150px;
  height: 40px;
  border-radius: 15px;
  background-color: #63da7f;
  color: black;
  font-family: "Poppins", "Helvetica Neue", helvetica, sans-serif;
  border: none;
  font-weight: 400;
  font-size: 1rem;
  transition: all 50ms ease-in-out;
}

.navbar .navbar-Wrap .nav-Right .nav-Right-Links-Wrap ul li .create-Account-Btn:hover,
.navbar .navbar-Wrap .nav-Right-Wrap .nav-Right-Links-Wrap ul li .create-Account-Btn:hover {
  cursor: pointer;
  background-color: #60be76;
  color: white;
}

.navbar .navbar-Wrap .nav-Right .nav-Right-Links-Wrap ul li .create-Account-Btn:active,
.navbar .navbar-Wrap .nav-Right-Wrap .nav-Right-Links-Wrap ul li .create-Account-Btn:active {
  color: white;
  background-color: #63da7f;
}

@media screen and (max-width: 1100px) {
  .navbar {
    border: solid black 1px;
    border-left: none;
    border-right: none;
    border-top: none;
    height: 11vh;
  }

  .navbar .navbar-Wrap {
    width: 95%;
  }

  .navbar .navbar-Wrap .nav-Left,
  .navbar .navbar-Wrap .nav-Left-Wrap {
    height: 100%;
    width: 30%;
  }

  .navbar .navbar-Wrap .nav-Left .nav-Left-Wrap,
  .navbar .navbar-Wrap .nav-Left-Wrap .nav-Left-Wrap {
    width: 100%;
  }

  .navbar .navbar-Wrap .nav-Left .nav-Left-Img,
  .navbar .navbar-Wrap .nav-Left-Wrap .nav-Left-Img {
    height: 40px;
  }

  .navbar .navbar-Wrap .nav-Right,
  .navbar .navbar-Wrap .nav-Right-Wrap {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    width: 70%;
  }

  .navbar .navbar-Wrap .nav-Right .nav-Right-Wrap,
  .navbar .navbar-Wrap .nav-Right-Wrap .nav-Right-Wrap {
    width: 100%;
    align-items: flex-end;
    justify-content: center;
  }

  .navbar .navbar-Wrap .nav-Right .nav-Right-Links-Wrap,
  .navbar .navbar-Wrap .nav-Right-Wrap .nav-Right-Links-Wrap {
    display: none;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 1rem;
    z-index: -1;
    transition: all 500ms ease-in-out;
  }

  .navbar .navbar-Wrap .nav-Right .nav-Right-Links-Wrap ul,
  .navbar .navbar-Wrap .nav-Right-Wrap .nav-Right-Links-Wrap ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    background-color: white;
    border: solid black 1px;
    border-top: none;
    height: 500px;
    position: absolute;
    right: -12px;
    top: 2rem;
  }

  .navbar .navbar-Wrap .nav-Right .nav-Right-Links-Wrap ul li,
  .navbar .navbar-Wrap .nav-Right-Wrap .nav-Right-Links-Wrap ul li {
    padding: 1.5rem;
  }

  .navbar .navbar-Wrap .nav-Right .nav-Right-Links-Wrap ul li a,
  .navbar .navbar-Wrap .nav-Right-Wrap .nav-Right-Links-Wrap ul li a {
    font-size: 1.5rem;
    color: black;
  }

  .navbar .navbar-Wrap .nav-Right .nav-Right-Links-Wrap ul li .create-Account-Btn,
  .navbar .navbar-Wrap .nav-Right-Wrap .nav-Right-Links-Wrap ul li .create-Account-Btn {
    width: 170px;
    font-size: 1rem;
  }

  .navbar .navbar-Wrap .nav-Right .nav-Right-Links-Wrap.active,
  .navbar .navbar-Wrap .nav-Right-Wrap .nav-Right-Links-Wrap.active {
    display: flex;
  }
}

.burger-Menu {
  position: absolute;
  height: 50px;
  width: 50px;
  top: 50%;
  transform: translate(-50%, -50%);
  right: 1rem;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  z-index: 1;
  display: none;
}

.burger-Menu .burger-Menu-Wrap {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  z-index: 2;
}

.burger-Menu .burger-Menu-Wrap:hover {
  cursor: pointer;
}

.burger-Menu .burger-Menu-Wrap #b-M-Bars {
  height: 4px;
  background-color: #63da7f;
  border-radius: 15px;
  width: 100%;
}

@media screen and (max-width: 1100px) {
  .burger-Menu {
    display: flex;
  }
}

.header {
  display: flex;
  height: 100vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header .header-Wrap {
  display: flex;
  height: 80%;
  width: 80%;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

.header .header-Wrap .header-Left {
  width: 50%;
}

.header .header-Wrap .header-Left .header-Left-Wrap {
  text-align: start;
}

.header .header-Wrap .header-Left .header-Left-Wrap .header-Left-Text-1 {
  color: rgb(22, 37, 68);
  font-family: "Poppins", "Helvetica Neue", helvetica, sans-serif;
  font-size: 4rem;
  padding: 0;
  margin: 0;
}

.header .header-Wrap .header-Left .header-Left-Wrap .header-Left-Text-2 {
  padding: 0;
  margin: 0;
  color: rgb(22, 37, 68);
  font-family: "Poppins", "Helvetica Neue", helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
}

.header .header-Wrap .header-Left .header-Left-Wrap .header-Left-Button {
  background-color: transparent;
  color: #63da7f;
  font-family: "Poppins", "Helvetica Neue", helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
  margin-top: 1rem;
  letter-spacing: 5px;
  cursor: pointer;
}

.header .header-Wrap .header-Left .header-Left-Wrap .header-Left-Button #header-Left-Button-Icon {
  color: #63da7f;
  font-size: 1.2rem;
  font-weight: 600;
}

.header .header-Wrap .header-Left .header-Left-Wrap .header-Left-Button:hover {
  color: #60be76;
}

.header .header-Wrap .header-Right {
  width: 35%;
}

.header .header-Wrap .header-Right .header-Right-Wrap .header-Right-Img {
  object-fit: cover;
  height: 350px;
}

@media screen and (max-width: 1200px) {
  .header .header-Wrap {
    display: flex;
    height: 80%;
    width: 90%;
    flex-direction: column;
  }

  .header .header-Wrap .header-Left {
    width: 500px;
  }

  .header .header-Wrap .header-Left .header-Left-Wrap {
    text-align: center;
  }

  .header .header-Wrap .header-Left .header-Left-Wrap .header-Left-Text-1 {
    font-size: 3.2rem;
  }

  .header .header-Wrap .header-Left .header-Left-Wrap .header-Left-Text-2 {
    font-size: 1rem;
    font-weight: 500;
  }

  .header .header-Wrap .header-Left .header-Left-Wrap .header-Left-Button {
    font-size: 1rem;
  }

  .header .header-Wrap .header-Left .header-Left-Wrap .header-Left-Button #header-Left-Button-Icon {
    font-size: 1rem;
  }

  .header .header-Wrap .header-Right {
    width: 500px;
  }

  .header .header-Wrap .header-Right .header-Right-Wrap .header-Right-Img {
    object-fit: cover;
    height: 350px;
  }
}

@media screen and (max-width: 768px) {
  .header .header-Wrap .header-Left {
    width: 350px;
  }

  .header .header-Wrap .header-Left .header-Left-Wrap {
    text-align: center;
  }

  .header .header-Wrap .header-Left .header-Left-Wrap .header-Left-Text-1 {
    font-size: 2.2rem;
  }

  .header .header-Wrap .header-Left .header-Left-Wrap .header-Left-Text-2 {
    font-size: 0.9rem;
    font-weight: 500;
  }

  .header .header-Wrap .header-Left .header-Left-Wrap .header-Left-Button {
    font-size: 0.9rem;
  }

  .header .header-Wrap .header-Left .header-Left-Wrap .header-Left-Button #header-Left-Button-Icon {
    font-size: 0.9rem;
  }

  .header .header-Wrap .header-Right {
    width: 350px;
  }

  .header .header-Wrap .header-Right .header-Right-Wrap .header-Right-Img {
    object-fit: cover;
    height: 250px;
  }
}

.about {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 2200px;
}

.about .about-Wrap {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 80%;
}

.about .about-Wrap .about-Top-Wrap {
  height: 10%;
  width: 100%;
  text-align: start;
}

.about .about-Wrap .about-Top-Wrap .about-Top-Text-1 {
  font-family: "Poppins", "Helvetica Neue", helvetica, sans-serif;
  color: #60be76;
}

.about .about-Wrap .about-Top-Wrap .about-Top-Text-2 {
  font-family: "Poppins", "Helvetica Neue", helvetica, sans-serif;
  color: rgb(22, 37, 68);
  font-size: 2.5rem;
  font-weight: 500;
}

.about .about-Wrap .about-Bottom {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.about .about-Wrap .about-Bottom .about-Bottom-Wrap {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: flex-start;
  gap: 5rem;
}

.about .about-Wrap .about-Bottom .about-Bottom-Wrap .about-Card {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 450px;
  width: 100%;
}

.about .about-Wrap .about-Bottom .about-Bottom-Wrap .about-Card .about-Card-Left {
  width: 50%;
  height: 100%;
}

.about .about-Wrap .about-Bottom .about-Bottom-Wrap .about-Card .about-Card-Left .about-Card-Left-Img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.about .about-Wrap .about-Bottom .about-Bottom-Wrap .about-Card .about-Card-Right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: end;
  align-items: end;
}

.about .about-Wrap .about-Bottom .about-Bottom-Wrap .about-Card .about-Card-Right .about-Card-Right-Wrap {
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  align-items: start;
}

.about .about-Wrap .about-Bottom .about-Bottom-Wrap .about-Card .about-Card-Right .about-Card-Right-Wrap #about-Card-Icon {
  background-color: #b4f7c4;
  color: #60be76;
  height: 65px;
  width: 65px;
  font-size: 1.5rem;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.about .about-Wrap .about-Bottom .about-Bottom-Wrap .about-Card .about-Card-Right .about-Card-Right-Wrap .about-Card-Right-Text-1 {
  font-family: "Poppins", "Helvetica Neue", helvetica, sans-serif;
  color: black;
  font-weight: 600;
  font-size: 2rem;
  padding: 0;
  margin: 0;
}

.about .about-Wrap .about-Bottom .about-Bottom-Wrap .about-Card .about-Card-Right .about-Card-Right-Wrap .about-Card-Right-Text-2 {
  font-family: "Poppins", "Helvetica Neue", helvetica, sans-serif;
  color: black;
  font-weight: 200;
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
}

.about .about-Wrap .about-Bottom .about-Bottom-Wrap .reversed {
  flex-direction: row-reverse;
}

@media screen and (max-width: 800px) {
  .about .about-Wrap {
    width: 90%;
  }

  .about .about-Wrap .about-Top-Wrap .about-Top-Text-2 {
    font-size: 1.2rem;
  }

  .about .about-Wrap .about-Bottom .about-Bottom-Wrap {
    gap: 5rem;
  }

  .about .about-Wrap .about-Bottom .about-Bottom-Wrap .about-Card .about-Card-Right .about-Card-Right-Wrap {
    justify-content: space-evenly;
  }

  .about .about-Wrap .about-Bottom .about-Bottom-Wrap .about-Card .about-Card-Right .about-Card-Right-Wrap #about-Card-Icon {
    height: 45px;
    width: 45px;
    font-size: 1rem;
  }

  .about .about-Wrap .about-Bottom .about-Bottom-Wrap .about-Card .about-Card-Right .about-Card-Right-Wrap .about-Card-Right-Text-1 {
    font-weight: 600;
    font-size: 1rem;
  }

  .about .about-Wrap .about-Bottom .about-Bottom-Wrap .about-Card .about-Card-Right .about-Card-Right-Wrap .about-Card-Right-Text-2 {
    font-size: 0.8rem;
  }
}

.operations {
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: solid rgb(194, 191, 191) 1px;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.operations .operations-Wrap {
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
}

.operations .operations-Wrap .operations-Top {
  height: 20%;
}

.operations .operations-Wrap .operations-Top .operations-Top-Wrap {
  text-align: start;
}

.operations .operations-Wrap .operations-Top .operations-Top-Wrap .operations-Top-Text-1 {
  color: #60be76;
  font-size: 1.5rem;
  font-family: "Poppins", "Helvetica Neue", helvetica, sans-serif;
}

.operations .operations-Wrap .operations-Top .operations-Top-Wrap .operations-Top-Text-2 {
  font-size: 2rem;
  font-family: "Poppins", "Helvetica Neue", helvetica, sans-serif;
}

.operations .operations-Wrap .operations-bottom {
  width: 90%;
  height: 80%;
}

.operations .operations-Wrap .operations-bottom .operations-Bottom-Wrap {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.operations .operations-Wrap .operations-bottom .operations-Bottom-Wrap .operations-Bottom-Text-Wrap {
  width: 700px;
  height: 300px;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: white;
}

.operations .operations-Wrap .operations-bottom .operations-Bottom-Wrap .operations-Bottom-Text-Wrap .operations-Bottom-Text-Wrap-Left {
  width: 10%;
  height: 100%;
  text-align: start;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
}

.operations .operations-Wrap .operations-bottom .operations-Bottom-Wrap .operations-Bottom-Text-Wrap .operations-Bottom-Text-Wrap-Right {
  width: 75%;
  height: 100%;
  text-align: start;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.operations .operations-Wrap .operations-bottom .operations-Bottom-Wrap .operations-Buttons-Wrap {
  position: absolute;
  display: none;
}
