$fontOne: "Poppins", "Helvetica Neue", helvetica, sans-serif;

body {
  font-family: $fontOne;
  padding: 0;
  margin: 0;
}

.navbar {
  display: flex;
  position: fixed;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  top: 0;
  height: 12vh;

  .navbar-Wrap {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 100%;

    .nav-Left,
    .nav-Left-Wrap {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 50%;

      .nav-Left-Img {
        height: 50px;
        object-fit: cover;
        text-align: center;
      }
    }
  }

  .nav-Right,
  .nav-Right-Wrap {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;

    .nav-Right-Wrap {
      width: 100%;
    }

    .nav-Right-Links-Wrap {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: center;
    }
  }
}
